@charset "UTF-8";
.rating a {
  float: right;
  color: #aaa;
  text-decoration: none;
  font-size: 3em;
  transition: color .4s;
}

.rating a:hover,
.rating a:focus,
.rating a:hover ~ a,
.rating a:focus ~ a {
  color: orange;
  cursor: pointer;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
}

/* Banni├¿re */
.row-banniere-univers {
  width: 100%;
  height: 250px;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: relative;
}
.row-banniere-univers .overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.row-banniere-univers .overlay h1 {
  font-family: Montserrat, Arial;
  font-size: 4rem;
  color: white;
  text-transform: uppercase;
}

.row-banniere-univers-jv {
  background-image: url("../img/banner_jv.jpg");
}

.row-banniere-univers-musique {
  background-image: url("../img/banner_mus.jpg");
}

.row-banniere-univers-series {
  background-image: url("../img/banner_series.jpg");
}

.row-banniere-univers-bd {
  background-image: url("../img/banner_bd.jpg");
}

.row-banniere-univers-films {
  background-image: url("../img/banner_films.jpg");
}

/* Tiles */
.tile-list {
  width: 100%;
  margin: auto;
  font-size: 0px;
}

.tile-block {
  display: inline-block;
}
.tile-block.tile-35 {
  width: 35%;
}
.tile-block.tile-40 {
  width: 40%;
}
.tile-block.tile-40 .tile {
  height: 400px;
}
.tile-block.tile-25 {
  width: 25%;
}

.tile {
  height: 200px;
  width: 100%;
  font-size: 1rem;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
}
.tile h5 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
}
.tile .overlay {
  background-color: rgba(0, 0, 0, 0.5);
  -moz-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  -webkit-transition: all 1s ease;
  -webkit-transition-delay: 0s;
  transition: all 1s ease 0s;
}
.tile:hover .overlay {
  background-color: rgba(0, 0, 0, 0.7);
}
